
<div class="answer-container">
  <p>0</p>
</div>
<div class="grid-container">
  <div class="grid-item">
    <button>1</button>
  </div>
  <div class="grid-item">
    <button>2</button>
  </div>
  <div class="grid-item">
    <button>3</button>
  </div>
  <div class="grid-item">
    <button>4</button>
  </div>
  <div class="grid-item">
    <button>5</button>
  </div>
  <div class="grid-item">
    <button>6</button>
  </div>
  <div class="grid-item">
    <button>7</button>
  </div>
  <div class="grid-item">
    <button>8</button>
  </div>
  <div class="grid-item">
    <button>9</button>
  </div>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->